* {
  box-sizing: border-box;
}
iframe{
  border: none;
  width: 100%;
  height: 100%;
}
html, body {
  padding:0;
  margin:0;
  background: black;
}
body{
  min-width: 320px;
}
.video-container{
  width: 60%;
  height: 100vh;
  position: fixed;
  padding: .5rem;
}
.slide-container{
  width: 100%;
  padding-left: 60%;
  background: #222;
}
.video-container {
  background: black;
  width: 60%;
}

video {
  max-width: 100%;
  border: 1px solid #444;
  margin: 0 auto;
}

.slide-container > ul {
  list-style: none;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 0;
  padding: 0;
}
.slide-container > ul > li {
  border: 1px solid #515151;
  border-radius: 2px;
  background: #343434;
  padding: .25rem;
  margin: .5rem;
  min-height: 3rem;
}
.slide-container > ul > li > img{
  max-width: 100%;
  vertical-align: bottom;
}

@media screen and (max-width: 1200px) {
  .slide-container > ul {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}

@media screen and (max-width: 1020px) {
  .slide-container > ul {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media screen and (max-width: 1020px) {
  .slide-container > ul {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
}

@media screen and (max-width: 800px) {
  .slide-container > ul {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 672px) {
  .slide-container > ul {
    grid-template-columns: 25% 25% 25% 25%;
  }
  .video-container, .slide-container {
    width: 100%;
  }
  .video-container{
    height: 50vh;
    width: 100%;
  }
  .slide-container{
    width: 100%;
    padding-top: 50vh;
    padding-left: 0;
  }
}
